{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}
  Reset Password
{% endblock %}

{% block content %}
    <h1> Reset Password </h1>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="button">
            <input type="submit" value="Reset Password">
        </div>


        <input type="hidden" name="next" value="{{ next }}">

    </form>

    {# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}

{% block javascript %}

<script src="{% static 'js/form-control-focus.js' %}" type="text/javascript"></script>

{% endblock %}
