{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
{% if form.errors %}
<p>Incorrect username and/or password.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{% bootstrap_field form.username placeholder=None%}</td>
</div>
<div>
  <td>{% bootstrap_field form.password placeholder=None%}</td>
</div>

<div>
  {% bootstrap_button "Login" button_type="submit" button_class="btn-primary" %}
  <input type="hidden" name="next" value="{% url 'new' %}" />
</div>
</form>
{% endblock %}