confusable-homoglyphs==3.0.0
Django==2.2.24
django-bootstrap3==8.2.3
django-codemirror-widget==0.4.1
django-password-reset==1.0
django-registration==2.4.1
django-timezone-field==2.1
psycopg2==2.7.4
pytz==2017.2
