{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<h1>{{title}}</h1>

{% for tag in tags %}

{% if tag.get_public_count %}

<h2>{{tag.title}}</h2>

<table class="table table-striped">
<thead>
	<tr>
		<th>Title</th>
		<th>Tags</th>
		<th>Options</th>
	</tr>
</thead>
<tbody>
{% for sample in tag.get_public %}
	<tr>
		<th>
			<details>
				<summary>{{sample.title}}</summary>
				{% if sample.description %}
					<div class = "description">
						{{sample.description}}
					</div>
				{% else %}
					<div class = "description">
						<em>no description</em>
					</div>
				{% endif %}
			</details>
		</th>
		<td>
		{% if sample.tags %}
		{% for t in sample.tags.all %}
		<span>{{t.title}}</span>
		{% endfor %}
		{% else %}
		No tags
		{% endif %}
		</td>
		<td>
			{% if request.user == sample.user %}
			<a href = "{% url 'show'   sample.user.profile.slug sample.slug %}" aria-label = "Edit {{sample.title}}" class = "btn btn-primary">Edit</a>
			{% endif %}
			<a href = "{% url 'run'    sample.user.profile.slug sample.slug %}" aria-label = "Run {{sample.title}}" class = "btn btn-primary">Run</a>
			{% if request.user.is_anonymous %}
			<a href = "{% url 'copy_anon' sample.user.profile.slug sample.slug %}" aria-label = "Copy {{sample.title}}" class = "btn btn-primary">Copy</a>
			{% else %}
			<a href = "{% url 'copy'   sample.user.profile.slug sample.slug %}" aria-label = "Copy {{sample.title}}" class = "btn btn-primary">Copy</a>
			{% endif %}
			{% if request.user == sample.user %}
			<a href = "{% url 'delete' sample.user.profile.slug sample.slug %}" aria-label = "Delete {{sample.title}}" class = "btn btn-danger">Delete</a>
			{% endif %}
		</td>
	</tr>
{% empty %}
	<tr>
		<th>No samples</th>
		<td></td>
		<td></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endif %}

{% endfor %}


{% endblock %}
